{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "lf"
}
